html,
body {
    padding: 0;
    margin: 0;
    font-family: "Catamaran", sans-serif;
    background-color: #f0f2ef;
}

.title {
    font-size: 92px;
    font-weight: bold;
    line-height: 92px;
}

.subtitle {
    font-size: 40px;
    font-weight: bold;
    line-height: 38px;
}

.text {
    font-size: 22px;
    line-height: 26px;
}

@media (max-width: 960px) {
    .text {
        font-size: 16px;
    }

    .subtitle {
        font-size: 25px;
        font-weight: bold;
        line-height: 38px;
    }
}
